*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Arial black", Arial;
    font-weight: bolder;
}

:root {
    --bg-color: #080808;
    --secondary-bg-color: #101010;
    --text-color: #ffffff;
    --main-color: #c13cc5;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}